@import './variables.css';

.footer {
    height: 10vh;
    background-color: var(--seco-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 16px;
}

@media (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}